
<div class="container-page">
  <app-header></app-header>
  <div class="container-body">
    <app-encabezado></app-encabezado>
    <uni-filtros-rapidos></uni-filtros-rapidos>
    <div class="vista-tarjeta-container">
      <div class=" sec-tarjetas collapsible-panel" [ngClass]="{ 'collapsed': collapsedPanel }">
        <app-lista-tarjeta></app-lista-tarjeta>
        <button 
            class="collapse-button" 
            (click)="collapsePanel()">
            <ng-container *ngIf="collapsedPanel">
              <span 
                class="material-icons" 
                aria-hidden="true"
                aria-label="Contraer lista de expedientes" 
                title="Contraer lista de expedientes">
                chevron_right
              </span> 
            </ng-container>
            <ng-container *ngIf="!collapsedPanel">
              <span class="material-icons" aria-hidden="true">chevron_left</span> 
            </ng-container>
        </button>
      </div>
      <div class="sec-Ficha">
        <app-ficha>
            <uni-button buttons buttonType="primary" icon="signature" showIcon="true" size="sm" label="Firmar">
            </uni-button>
            <uni-button buttons buttonType="primary-outline" icon="picture_as_pdf" showIcon="true" size="sm" label="Expediente Digital">
            </uni-button>
            <div body>
              <span class="etiqueta-estado" mat-raised-button placement="right">
                etiqueta 1
              </span>
              <h2>hola mundo</h2>
              <p>estoy pobando cositas</p>
              <uni-drag-and-drop></uni-drag-and-drop>
            </div>
        </app-ficha>
      </div>
    </div>
  </div>
</div>
