:root {
    --color-background-neutro-darker: var(--brand-color-neutro-600);
    --color-background-neutro-dark: var(--brand-color-neutro-400);
    --color-background-neutro-default: var(--brand-color-neutro-200);
    --color-background-neutro-light: var(--brand-color-neutro-100);
    --color-background-neutro-lighter: var(--brand-color-neutro-50);
    --color-background-secondary-darker: var(--brand-color-primary-900);
    --color-background-secondary-dark: var(--brand-color-primary-700);
    --color-background-secondary-default: var(--brand-color-primary-500);
    --color-background-secondary-light: var(--brand-color-primary-200);
    --color-background-secondary-lighter: var(--brand-color-primary-50);
    --color-background-primary-darker: var(--brand-color-primary-900);
    --color-background-primary-dark: var(--brand-color-primary-700);
    --color-background-primary-default: var(--brand-color-primary-500);
    --color-background-primary-light: var(--brand-color-primary-200);
    --color-background-primary-lighter: var(--brand-color-primary-50);
    --color-border-blanco: var(--brand-color-neutro-blanco);
    --color-border-dark: var(--brand-color-neutro-500);
    --color-border-darker: var(--brand-color-neutro-900);
    --color-border-secondary-darker: var(--brand-color-primary-900);
    --color-border-secondary-dark: var(--brand-color-primary-700);
    --color-border-secondary-default: var(--brand-color-primary-500);
    --color-border-secondary-light: var(--brand-color-primary-200);
    --color-border-secondary-lighter: var(--brand-color-primary-50);
    --color-border-primary-darker: var(--brand-color-primary-900);
    --color-border-primary-dark: var(--brand-color-primary-700);
    --color-border-primary-default: var(--brand-color-primary-500);
    --color-border-primary-light: var(--brand-color-primary-200);
    --color-border-primary-lighter: var(--brand-color-primary-50);
    --color-border-neutro: var(--brand-color-neutro-200);
    --color-text-subtle: var(--brand-color-neutro-400);
    --color-text-label: var(--brand-color-neutro-700);
    --color-text-body: var(--brand-color-neutro-negro);
    --color-surface-light: var(--brand-color-neutro-50);
    --color-surface-default: var(--brand-color-neutro-blanco);
    --color-action-neutro-darker: var(--brand-color-neutro-600);
    --color-action-neutro-dark: var(--brand-color-neutro-400);
    --color-action-neutro-default: var(--brand-color-neutro-200);
    --color-action-neutro-light: var(--brand-color-neutro-100);
    --color-action-neutro-lighter: var(--brand-color-neutro-50);
    --color-action-secondary-darker: var(--brand-color-primary-900);
    --color-action-secondary-dark: var(--brand-color-primary-700);
    --color-action-secondary-default: var(--brand-color-primary-500);
    --color-action-secondary-light: var(--brand-color-primary-200);
    --color-action-secondary-lighter: var(--brand-color-primary-50);
    --color-action-primary-dark: var(--brand-color-primary-700);
    --color-action-primary-darker: var(--brand-color-primary-900);
    --color-action-primary-lighter: var(--brand-color-primary-50);
    --color-action-primary-light: var(--brand-color-primary-200);
    --color-action-primary-default: var(--brand-color-primary-500);
    --color-secondary-500-default: var(--brand-color-primary-500);
    --color-secondary-800: var(--brand-color-primary-950);
    --color-secondary-700: var(--brand-color-primary-800);
    --color-secondary-600: var(--brand-color-primary-700);
    --color-secondary-400: var(--brand-color-primary-300);
    --color-secondary-300: var(--brand-color-primary-100);
    --color-secondary-200: var(--brand-color-primary-50);
    --color-primary-500-default: var(--brand-color-primary-500);
    --color-primary-800: var(--brand-color-primary-950);
    --color-primary-700: var(--brand-color-primary-800);
    --color-primary-600: var(--brand-color-primary-700);
    --color-primary-400: var(--brand-color-primary-300);
    --color-primary-300: var(--brand-color-primary-100);
    --color-primary-200: var(--brand-color-primary-50);
  }
  