uni-button{
    width: auto !important;
} /* ajuste global para el componente en uso no abarque todo el ancho del espacio disponible  */

.btn{
    display: flex;
    align-items: center;
    padding:0.1rem 0.75rem;
    width: auto;
    height: fit-content;
} /* ajuste global para todos los botones  */

/* Boton primary outline  */

.button-primary, .button-primary:not(:disabled){
    background: var(--button-primary-background-color);
    color:var(--button-primary-text-color) ;
    border-color: var(--button-primary-border-color) ;
}

.button-primary:hover, .button-primary:first-child:active{
    background: var(--button-primary-background-color-hover);
    color:var( --button-primary-outline-text-color-hover) ;
    border-color: var(--button-primary-outline-border-color-hover) ;
}

/* Fin Boton primary  */

/*  Boton primary outline  */

.button-primary-outline, .button-primary-outline:not(:disabled){
    background: var(--button-primary-outline-background-color);
    color:var(--button-primary-outline-text-color) ;
    border-color: var(--button-primary-outline-border-color) ;
    border: 1px solid;
}

.button-primary-outline:hover , .button-primary-outline:first-child:active{
    background: var(--button-primary-outline-background-color-hover);
    color:var( --button-primary-outline-text-color-hover) ;
    border-color: var( --button-primary-outline-border-color-hover) ;
}

/* Fin Boton primary outline  */

/* Boton negative  */

.button-negative, .button-negative:not(:disabled){
    background: var(--button-negative-background-color);
    color:var(--button-negative-text-color) ;
    border-color: var(--button-negative-border-color) ;
}

.button-negative:hover , .button-negative:first-child:active{
    background: var(--button-negative-background-color-hover);
    color:var( --button-negative-text-color) ;
    border-color: var( --button-negative-border-color) ;
}

/* Fin Boton negative  */

/* Boton negative outline */

.button-negative-outline,.button-negative-outline:not(:disabled){
    background: var(--button-negative-outline-background-color);
    color:var(--button-negative-outline-text-color) ;
    border-color: var(--button-negative-outline-border-color) ;
    border: 1px solid;
}

.button-negative-outline:hover , .button-negative-outline:first-child:active{
    background: var(--button-negative-outline-background-color-hover);
    color:var(--button-negative-outline-text-color-hover) ;
    border-color: var( --button-negative-border-color) ;
}

/* Fin Boton negative outline */


/* boton solo con icono. NO TEXTO  */
.icon-button {
    padding: 0.3rem !important;
    border-radius: 25px;
}

.icon-button .button-icon{
    margin-right: 0 !important;
}

.icon-button:hover, .icon-button:active, :not(.btn-check)+.btn:active {
    background-color: #e8eff3;
    transition: 0.3s;
    opacity: 1;
    color: var(--bs-btn-color);
}

/* Fin boton solo con icono. NO TEXTO  */

.button-link, .button-link:not(:disabled){
    background: var(--button-primary-outline-background-color);
    color:var(--button-primary-outline-text-color) ;
}

.button-link:hover , .button-link:first-child:active{
    background: transparent;
    color:var(--button-primary-link-text-color-hover) ;
    text-decoration: underline;
}

.button-link:hover .button-icon , .button-link:first-child:active .button-icon{
    text-decoration: none ;
}

/* icono dentro de los botones <span> */

.button-icon{
    margin-right: 8px;
    height: auto;
    line-height: inherit;
}

.btn-sm .button-icon{
    font-size: 18px ;
    margin-right: 4px;
} /* acomoda el tamaño del icono en botones sm */

/* Fin icono dentro de los botones <span> */



