.drag-and-drop-container{
    border: #c3c3c3 1.8px dashed;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 8px;
}

.drag-and-drop-buttons{
    display: flex;
    gap: 8px;
}