.encabezado-container{
    justify-content: space-between;
    padding-top: 1rem;
}

.text-breadcrum{
    color: var(--color-text-body);
    font-size: 1rem;
    font-weight: 500;
}

.text-breadcrum .contraste{
    color: var(--encabezado-text-contrast);
    cursor: pointer;
}

.text-título{
    color: var(--color-text-body);
    font-size: 1.2rem;
    font-weight: 500;
}


.btn-container{
    width: auto;
    align-items: center;
    display: flex;
}

.btn-icon{
    vertical-align: sub;
}

.btn-text{
    vertical-align: text-bottom;
}
.text-container{
    width: auto;
}



.encabezado-border{
 border-top-color: var(--encabezado-border-color) !important;
}