
.etiqueta-estado {
    padding: 2px 5px;
    border: 1px solid var(--etiqueta-border-color);
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: normal; /* Asegura que el texto no aumente la altura */
    box-sizing: border-box; /* Incluye padding y borde en el cálculo del alto total */
    color:var(--etiqueta-text-color);
}