.tarjeta{
    border-bottom: 1px solid var(--tarjetas-border-color); 
    display: flex; 
    height: auto;
}

.tarjeta-check{
    padding: 10px;
}

.tarjeta-cuerpo {
    padding: 10px 0 15px 0;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--tarjetas-background-color);
    border-left: solid 2px transparent;
}

.tarjeta-cuerpo.active {
    border-left: solid 2px var(--tarjetas-indicador-color);
    background-color: var(--tarjetas-background-color);
}

.tarjeta-secdot{
    width: 60px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}


.dot_color {
    color: #ffffff;
    background-color: rgb(45, 156, 255);
}
.dot{
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 20px;
    font-size: 0.75rem;
}

.icon-candado{
    font-size: 21px ;
    color: var(--brand-color-primary-700) ;
}

.tarjeta-contenido--texto{
    width: 100%; 
    display: flex; 
    flex-direction: column;
    padding-left: 10px;
}


.tarjeta-texto--titulo {
    font-size: .8rem;
    text-transform: uppercase;
    vertical-align: top;
    font-weight: 500;
}

.tarjeta-texto--subtitulo{
    font-size: 0.7rem;
}

.tarjeta-contenido-etiquetas{
    margin-top: 10px;
    gap: 8px;
    display: inline-flex;
    align-items: flex-start;
}

.tarjeta-secdesacoplar{
    padding: 3px 10px;
}

