
:root {
    --button-secondary-border-color-desable: #b0b0b0;
    --button-secondary-icon-color-desable: #b0b0b0;
    --button-secondary-text-color-desable: #b0b0b0;
    --button-secondary-background-color-desable: #f4f2f2;
    --button-secondary-background-color-hover: var(--brand-color-neutro-200);
    --button-secondary-background-color: var(--brand-color-neutro-50);
    --button-secondary-border-color: var(--color-border-neutro);
    --button-secondary-icon-color: var(--color-primary-800);
    --button-secondary-text-color: var(--color-primary-800);

    --button-negative-outline-border-color: var(--brand-color-neutro-900);
    --button-negative-outline-icon-color-hover: var(--brand-color-neutro-blanco);
    --button-negative-outline-text-color-hover: var(--brand-color-neutro-blanco);
    --button-negative-outline-background-color-hover: var(--brand-color-neutro-900);
    --button-negative-outline-icon-color: var(--brand-color-neutro-900);
    --button-negative-outline-text-color: var(--brand-color-neutro-900);
    --button-negative-outline-background-color: var(--brand-color-neutro-transparent);
    --button-negative-outline-button-border-color: var(--color-border-darker);

    --button-negative-background-color-hover: var(--brand-color-neutro-900);
    --button-negative-icon-color: var(--brand-color-neutro-blanco);
    --button-negative-text-color: var(--brand-color-neutro-blanco);
    --button-negative-background-color: var(--brand-color-neutro-500);
    --button-negative-border-color: var(--color-border-dark);
    --button-negative-button-border-color: var(--color-border-dark);

    
    --button-primary-outline-icon-color-hover: var(--brand-color-neutro-blanco);
    --button-primary-outline-text-color-hover: var(--brand-color-neutro-blanco);
    --button-primary-outline-background-color: var(--brand-color-neutro-transparent);
    --button-primary-outline-background-color-hover: var(--color-action-primary-dark);
    --button-primary-outline-border-color-hover: var(--color-action-primary-dark);
    --button-primary-outline-border-color: var(--color-action-primary-default);
    --button-primary-outline-icon-color: var(--color-action-primary-default);
    --button-primary-outline-text-color: var(--color-action-primary-default);

    --button-primary-border-color-hover: var(--brand-color-neutro-transparent);
    --button-primary-icon-color-hover: var(--brand-color-neutro-blanco);
    --button-primary-text-color-hover: var(--brand-color-neutro-blanco);
    --button-primary-border-color: var(--brand-color-neutro-transparent);
    --button-primary-icon-color: var(--brand-color-neutro-blanco);
    --button-primary-text-color: var(--brand-color-neutro-blanco);
    --button-primary-background-color-hover: var(--color-action-primary-dark);
    --button-primary-background-color: var(--color-action-primary-default);

    --button-primary-link-icon-color-hover: var(--color-action-primary-darker);
    --button-primary-link-text-color-hover: var(--color-action-primary-darker);
    
   

    --check-area-hover: var(--brand-color-neutro-100);
    --check-icon-color: var(--brand-color-neutro-blanco);
    --check-area-hover-active: var(--color-action-primary-lighter);
    --check-border-color: var(--color-border-dark);
    --check-background-color: var(--color-action-primary-default);

    --chip-icon-color: var(--color-primary-800);
    --chip-text-color: var(--color-primary-800);
    --chip-background-color: var(--color-background-primary-lighter);

    --date-picker-action-color: var(--color-action-primary-light);
    --date-picker-text-color: var(--color-primary-500-default);
    --date-picker-background-color: var(--color-background-primary-default);

    --etiqueta-icon-color: var(--brand-color-neutro-600);
    --etiqueta-text-color: var(--brand-color-neutro-600);
    --etiqueta-border-color: var(--color-border-dark);

    --radio-area-hover: var(--brand-color-neutro-100);
    --radio-selector-color: var(--brand-color-neutro-blanco);
    --radio-area-hover-active: var(--color-action-primary-lighter);
    --radio-border-color: var(--color-border-dark);
    --radio-background-color: var(--color-action-primary-default);

    --switch-area-hover: var(--brand-color-neutro-100);
    --switch-selector-color: var(--brand-color-neutro-blanco);
    --switch-area-hover-active: var(--color-action-primary-lighter);
    --switch-background-color-active: var(--color-action-primary-light);
    --switch-selector-color-active: var(--color-action-primary-default);
    --switch-background-color: var(--color-action-neutro-dark);
  }
  