:root {
    --btn-mod-header-indicador-modulo-color: var(--brand-color-neutro-blanco);
    --btn-mod-header-icon-color-hover: var(--color-primary-600);
    --btn-mod-header-border-color: var(--color-border-blanco);
    --btn-mod-header-background-color-hover: var(--color-background-primary-dark);
    --btn-mod-header-icon-color: var(--color-primary-500-default);
    --btn-mod-header-background-color: var(--color-background-primary-default);
    --encabezado-indicador-mod-background-color: var(--color-background-primary-default);
    --encabezado-icon-color-mobile: var(--color-background-primary-default);
    --encabezado-border-color: var(--color-border-primary-default);
    --header-icon-color: var(--brand-color-neutro-blanco);
    --header-text-color: var(--brand-color-neutro-blanco);
    --header-border-color: var(--color-border-secondary-default);
    --header-background-color: var(--color-background-primary-default);
    --indicador-modulo-icon-color: var(--brand-color-neutro-blanco);
    --indicador-modulo-background-color: var(--color-action-primary-default);
    --menu-header-icon-color: var(--brand-color-neutro-blanco);
    --menu-header-background-color-hover: var(--color-background-neutro-light);
    --menu-header-indicador-color: var(--color-background-primary-default);
  }
  