
<form >
    <div class="drag-and-drop-container" >
        <div class="drag-and-drop-buttons">
            <span class="material-symbols-outlined">cloud_upload</span>
            <div class="dd-txt mr-2 contraste_2">Arrastre Archivos aquí o</div>
            <uni-button
            buttonType="primary-outline"
            showIcon="false"
            label="Explore Archivos"
            size="sm"
            aria-label="Explore Archivos"
            ></uni-button>
            <button class="btn  btn-principal-outline  btn-sm dd-txt-btn"  >Explore Archivos</button>
        </div>
        <input type="file" name="avatars"  >
    </div>
</form>

