
<form >
    <div class="drag-and-drop-container" >
        <div class="drag-and-drop-buttons">
            <span class="material-symbols-outlined">cloud_upload</span>
            <div class="">Arrastre Archivos aquí o</div>
            <uni-button
            buttonType="primary-outline"
            showIcon="false"
            label="Explore Archivos"
            size="sm"
            aria-label="Explore Archivos"
            ></uni-button>
            <!-- USAR EN CASO DE NO TENER EL COMPONENTE -->
            <!-- <button class="btn button-primary-outline btn-sm"  >Explore Archivos</button> -->
        </div>
        <input type="file" name="avatars" hidden >
    </div>
</form>

