.btn-primary{
    background: var(--button-primary-background-color);
    color:var(--button-primary-text-color) ;
    border-color: var(--button-primary-border-color) ;
}

.btn-primary:hover{
    background: var(--button-primary-background-color-hover);
    color:var( --button-primary-outline-text-color-hover) ;
    border-color: var(--button-primary-outline-border-color-hover) ;
}

.btn-primary-outline{
    background: var(--button-primary-outline-background-color);
    color:var(--button-primary-outline-text-color) ;
    border-color: var(--button-primary-outline-border-color) ;
}

.btn-primary-outline:hover{
    background: var(--button-primary-outline-background-color-hover);
    color:var( --button-primary-outline-text-color-hover) ;
    border-color: var( --button-primary-outline-border-color-hover) ;
}

.btn-negative{
    background: var(--button-negative-background-color);
    color:var(--button-negative-text-color) ;
    border-color: var(--button-negative-border-color) ;
}

.btn-negative:hover{
    background: var(--button-negative-background-color-hover);
    color:var( --button-negative-text-color) ;
    border-color: var( --button-negative-border-color) ;
}

.btn-negative-outline{
    background: var(--button-negative-outline-background-color);
    color:var(--button-negative-outline-text-color) ;
    border-color: var(--button-negative-outline-border-color) ;
}

.btn-negative-outline:hover{
    background: var(--button-negative-outline-background-color-hover);
    color:var(--button-negative-outline-text-color-hover) ;
    border-color: var( --button-negative-border-color) ;
}



