/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  
:root {
    --brand-color-neutro-transparent: rgba(255, 255, 255, 0);
    --brand-color-neutro-blanco: #ffffff;
    --brand-color-neutro-negro: #000000;
    --brand-color-neutro-900: #3d3d3d;
    --brand-color-neutro-800: #454545;
    --brand-color-neutro-700: #4f4f4f;
    --brand-color-neutro-600: #5d5d5d;
    --brand-color-neutro-500: #6d6d6d;
    --brand-color-neutro-400: #888888;
    --brand-color-neutro-300: #b0b0b0;
    --brand-color-neutro-200: #d1d1d1;
    --brand-color-neutro-100: #e7e7e7;
    --brand-color-neutro-50: #f4f2f2;
    --brand-color-primary-950: #083049;
    --brand-color-primary-900: #0c4b6e;
    --brand-color-primary-800: #065a86;
    --brand-color-primary-700: #026aa2;
    --brand-color-primary-600: #0186c8;
    --brand-color-primary-500: #0c99d6; /* color de marca */
    --brand-color-primary-400: #37bff9;
    --brand-color-primary-300: #7cd4fd;
    --brand-color-primary-200: #bae7fd;
    --brand-color-primary-100: #e0f2fe;
    --brand-color-primary-50: #f0f9ff;
  }
  
:root {
    --color-background-neutro-darker: var(--brand-color-neutro-600);
    --color-background-neutro-dark: var(--brand-color-neutro-400);
    --color-background-neutro-default: var(--brand-color-neutro-200);
    --color-background-neutro-light: var(--brand-color-neutro-100);
    --color-background-neutro-lighter: var(--brand-color-neutro-50);
    --color-background-secondary-darker: var(--brand-color-primary-900);
    --color-background-secondary-dark: var(--brand-color-primary-700);
    --color-background-secondary-default: var(--brand-color-primary-500);
    --color-background-secondary-light: var(--brand-color-primary-200);
    --color-background-secondary-lighter: var(--brand-color-primary-50);
    --color-background-primary-darker: var(--brand-color-primary-900);
    --color-background-primary-dark: var(--brand-color-primary-700);
    --color-background-primary-default: var(--brand-color-primary-500);
    --color-background-primary-light: var(--brand-color-primary-200);
    --color-background-primary-lighter: var(--brand-color-primary-50);
    --color-border-blanco: var(--brand-color-neutro-blanco);
    --color-border-dark: var(--brand-color-neutro-500);
    --color-border-darker: var(--brand-color-neutro-900);
    --color-border-secondary-darker: var(--brand-color-primary-900);
    --color-border-secondary-dark: var(--brand-color-primary-700);
    --color-border-secondary-default: var(--brand-color-primary-500);
    --color-border-secondary-light: var(--brand-color-primary-200);
    --color-border-secondary-lighter: var(--brand-color-primary-50);
    --color-border-primary-darker: var(--brand-color-primary-900);
    --color-border-primary-dark: var(--brand-color-primary-700);
    --color-border-primary-default: var(--brand-color-primary-500);
    --color-border-primary-light: var(--brand-color-primary-200);
    --color-border-primary-lighter: var(--brand-color-primary-50);
    --color-border-neutro: var(--brand-color-neutro-200);
    --color-text-subtle: var(--brand-color-neutro-400);
    --color-text-label: var(--brand-color-neutro-700);
    --color-text-body: var(--brand-color-neutro-negro);
    --color-surface-light: var(--brand-color-neutro-50);
    --color-surface-default: var(--brand-color-neutro-blanco);
    --color-action-neutro-darker: var(--brand-color-neutro-600);
    --color-action-neutro-dark: var(--brand-color-neutro-400);
    --color-action-neutro-default: var(--brand-color-neutro-200);
    --color-action-neutro-light: var(--brand-color-neutro-100);
    --color-action-neutro-lighter: var(--brand-color-neutro-50);
    --color-action-secondary-darker: var(--brand-color-primary-900);
    --color-action-secondary-dark: var(--brand-color-primary-700);
    --color-action-secondary-default: var(--brand-color-primary-500);
    --color-action-secondary-light: var(--brand-color-primary-200);
    --color-action-secondary-lighter: var(--brand-color-primary-50);
    --color-action-primary-dark: var(--brand-color-primary-700);
    --color-action-primary-darker: var(--brand-color-primary-900);
    --color-action-primary-lighter: var(--brand-color-primary-50);
    --color-action-primary-light: var(--brand-color-primary-200);
    --color-action-primary-default: var(--brand-color-primary-500);
    --color-secondary-500-default: var(--brand-color-primary-500);
    --color-secondary-800: var(--brand-color-primary-950);
    --color-secondary-700: var(--brand-color-primary-800);
    --color-secondary-600: var(--brand-color-primary-700);
    --color-secondary-400: var(--brand-color-primary-300);
    --color-secondary-300: var(--brand-color-primary-100);
    --color-secondary-200: var(--brand-color-primary-50);
    --color-primary-500-default: var(--brand-color-primary-500);
    --color-primary-800: var(--brand-color-primary-950);
    --color-primary-700: var(--brand-color-primary-800);
    --color-primary-600: var(--brand-color-primary-700);
    --color-primary-400: var(--brand-color-primary-300);
    --color-primary-300: var(--brand-color-primary-100);
    --color-primary-200: var(--brand-color-primary-50);
  }
  

:root {
    --button-secondary-border-color-desable: #b0b0b0;
    --button-secondary-icon-color-desable: #b0b0b0;
    --button-secondary-text-color-desable: #b0b0b0;
    --button-secondary-background-color-desable: #f4f2f2;
    --button-secondary-background-color-hover: var(--brand-color-neutro-200);
    --button-secondary-background-color: var(--brand-color-neutro-50);
    --button-secondary-border-color: var(--color-border-neutro);
    --button-secondary-icon-color: var(--color-primary-800);
    --button-secondary-text-color: var(--color-primary-800);

    --button-negative-outline-border-color: var(--brand-color-neutro-900);
    --button-negative-outline-icon-color-hover: var(--brand-color-neutro-blanco);
    --button-negative-outline-text-color-hover: var(--brand-color-neutro-blanco);
    --button-negative-outline-background-color-hover: var(--brand-color-neutro-900);
    --button-negative-outline-icon-color: var(--brand-color-neutro-900);
    --button-negative-outline-text-color: var(--brand-color-neutro-900);
    --button-negative-outline-background-color: var(--brand-color-neutro-transparent);
    --button-negative-outline-button-border-color: var(--color-border-darker);

    --button-negative-background-color-hover: var(--brand-color-neutro-900);
    --button-negative-icon-color: var(--brand-color-neutro-blanco);
    --button-negative-text-color: var(--brand-color-neutro-blanco);
    --button-negative-background-color: var(--brand-color-neutro-500);
    --button-negative-border-color: var(--color-border-dark);
    --button-negative-button-border-color: var(--color-border-dark);

    
    --button-primary-outline-icon-color-hover: var(--brand-color-neutro-blanco);
    --button-primary-outline-text-color-hover: var(--brand-color-neutro-blanco);
    --button-primary-outline-background-color: var(--brand-color-neutro-transparent);
    --button-primary-outline-background-color-hover: var(--color-action-primary-dark);
    --button-primary-outline-border-color-hover: var(--color-action-primary-dark);
    --button-primary-outline-border-color: var(--color-action-primary-default);
    --button-primary-outline-icon-color: var(--color-action-primary-default);
    --button-primary-outline-text-color: var(--color-action-primary-default);

    --button-primary-border-color-hover: var(--brand-color-neutro-transparent);
    --button-primary-icon-color-hover: var(--brand-color-neutro-blanco);
    --button-primary-text-color-hover: var(--brand-color-neutro-blanco);
    --button-primary-border-color: var(--brand-color-neutro-transparent);
    --button-primary-icon-color: var(--brand-color-neutro-blanco);
    --button-primary-text-color: var(--brand-color-neutro-blanco);
    --button-primary-background-color-hover: var(--color-action-primary-dark);
    --button-primary-background-color: var(--color-action-primary-default);

    --button-primary-link-icon-color-hover: var(--color-action-primary-darker);
    --button-primary-link-text-color-hover: var(--color-action-primary-darker);
    
   

    --check-area-hover: var(--brand-color-neutro-100);
    --check-icon-color: var(--brand-color-neutro-blanco);
    --check-area-hover-active: var(--color-action-primary-lighter);
    --check-border-color: var(--color-border-dark);
    --check-background-color: var(--color-action-primary-default);

    --chip-icon-color: var(--color-primary-800);
    --chip-text-color: var(--color-primary-800);
    --chip-background-color: var(--color-background-primary-lighter);

    --date-picker-action-color: var(--color-action-primary-light);
    --date-picker-text-color: var(--color-primary-500-default);
    --date-picker-background-color: var(--color-background-primary-default);

    --etiqueta-icon-color: var(--brand-color-neutro-600);
    --etiqueta-text-color: var(--brand-color-neutro-600);
    --etiqueta-border-color: var(--color-border-dark);

    --radio-area-hover: var(--brand-color-neutro-100);
    --radio-selector-color: var(--brand-color-neutro-blanco);
    --radio-area-hover-active: var(--color-action-primary-lighter);
    --radio-border-color: var(--color-border-dark);
    --radio-background-color: var(--color-action-primary-default);

    --switch-area-hover: var(--brand-color-neutro-100);
    --switch-selector-color: var(--brand-color-neutro-blanco);
    --switch-area-hover-active: var(--color-action-primary-lighter);
    --switch-background-color-active: var(--color-action-primary-light);
    --switch-selector-color-active: var(--color-action-primary-default);
    --switch-background-color: var(--color-action-neutro-dark);
  }
  
:root {
    --btn-mod-header-indicador-modulo-color: var(--brand-color-neutro-blanco);
    --btn-mod-header-icon-color-hover: var(--color-primary-600);
    --btn-mod-header-border-color: var(--color-border-blanco);
    --btn-mod-header-background-color-hover: var(--color-background-primary-dark);
    --btn-mod-header-icon-color: var(--color-primary-500-default);
    --btn-mod-header-background-color: var(--color-background-primary-default);
    --encabezado-indicador-mod-background-color: var(--color-background-primary-default);
    --encabezado-icon-color-mobile: var(--color-background-primary-default);
    --encabezado-border-color: var(--color-border-primary-default);
    --header-icon-color: var(--brand-color-neutro-blanco);
    --header-text-color: var(--brand-color-neutro-blanco);
    --header-border-color: var(--color-border-secondary-default);
    --header-background-color: var(--color-background-primary-default);
    --indicador-modulo-icon-color: var(--brand-color-neutro-blanco);
    --indicador-modulo-background-color: var(--color-action-primary-default);
    --menu-header-icon-color: var(--brand-color-neutro-blanco);
    --menu-header-background-color-hover: var(--color-background-neutro-light);
    --menu-header-indicador-color: var(--color-background-primary-default);
  }
  
:root {
    --encabezado-indicador-mod-background-color: var(--color-background-primary-default);
    --encabezado-icon-color-mobile: var(--color-background-primary-default);
    --encabezado-border-color: var(--color-border-primary-default);
    --encabezado-text-contrast: var(--color-action-primary-default);
  }


.header{
    background-color: var(--header-border-color);
    box-shadow: 0 1px 5px var(--brand-color-neutro-600);
    border-bottom: 2px solid var(--header-background-color);
    padding: 0.2rem 1rem!important;
}

.header-logo {
    width: 180px;
}

.header-buttons-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* Aplicadas a todos los botones */
.header-button{
    background: var(--btn-mod-header-background-color);
    color:var(--brand-color-neutro-blanco);
    display: flex;
    flex-direction: row;
    --bs-btn-padding-x: 0.60rem;
    align-items: center;
}
.header-button:active, .header-button:hover, .header-button:first-child:active{
    background-color: var(--btn-mod-header-background-color-hover)!important;
    color:var(--brand-color-neutro-blanco)!important;
}

.button-icon{
    height: 32px;
    line-height: 34px;
    font-size: 1.5rem;
}

/* Boton menu mobile */
.button-menu{
    border: 1px solid var(--btn-mod-header-border-color);
}


/* Boton apps */
.button-apps, .button-apps:active, .button-apps:hover{
    border: 1px solid var(--btn-mod-header-border-color);
}

.button-apps .button-icon{
    height: 32px;
    width: 32px;
    background-color: var(--btn-mod-header-indicador-modulo-color);
    border-radius: 50%;
    display: inline-block;
    font-size: 1.2rem;
    color: var(--btn-mod-header-icon-color);
    text-align-last: center;
    line-height: 34px;
    margin-right: 5px;
}
.button-apps:hover .button-icon, .button-apps:active .button-icon{
    color: var(--btn-mod-header-icon-color-hover);
}

.button-apps-menu {
    display: flex;
    align-content: center;
    gap: 1em;
    align-items: center;
    width: 100%;
}
.button-apps-menu .button-icon{
    background-color: var(--menu-header-indicador-color);
}


/* Boton novedades */
#novedades{
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn .badge-novedades{
    position: absolute;
    top: 5px;
    right: 0px;
}


/* Boton usuario */

.user-text{
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
}


.btn-primary{
    background: var(--button-primary-background-color);
    color:var(--button-primary-text-color) ;
    border-color: var(--button-primary-border-color) ;
}

.btn-primary:hover{
    background: var(--button-primary-background-color-hover);
    color:var( --button-primary-outline-text-color-hover) ;
    border-color: var(--button-primary-outline-border-color-hover) ;
}

.btn-primary-outline{
    background: var(--button-primary-outline-background-color);
    color:var(--button-primary-outline-text-color) ;
    border-color: var(--button-primary-outline-border-color) ;
}

.btn-primary-outline:hover{
    background: var(--button-primary-outline-background-color-hover);
    color:var( --button-primary-outline-text-color-hover) ;
    border-color: var( --button-primary-outline-border-color-hover) ;
}

.btn-negative{
    background: var(--button-negative-background-color);
    color:var(--button-negative-text-color) ;
    border-color: var(--button-negative-border-color) ;
}

.btn-negative:hover{
    background: var(--button-negative-background-color-hover);
    color:var( --button-negative-text-color) ;
    border-color: var( --button-negative-border-color) ;
}

.btn-negative-outline{
    background: var(--button-negative-outline-background-color);
    color:var(--button-negative-outline-text-color) ;
    border-color: var(--button-negative-outline-border-color) ;
}

.btn-negative-outline:hover{
    background: var(--button-negative-outline-background-color-hover);
    color:var(--button-negative-outline-text-color-hover) ;
    border-color: var( --button-negative-border-color) ;
}




.encabezado-container{
    justify-content: space-between;
    padding-top: 8px;
}

.text-breadcrum{
    color: var(--color-text-body);
    font-size: 1rem;
    font-weight: 600;
}

.text-breadcrum .contraste{
    color: var(--encabezado-text-contrast);
    cursor: pointer;
}

.text-título{
    color: var(--color-text-body);
    font-size: 1.2rem;
    font-weight: 600;
}


.btn-container{
    width: auto;
    align-items: center;
    display: flex;
}

.btn-icon{
    vertical-align: sub;
}

.btn-text{
    vertical-align: text-bottom;
}
.text-container{
    width: auto;
}



.encabezado-border{
 border-top-color: var(--encabezado-border-color) !important;
}


