
  <!--Menu aplicaciones desde la ficha (horizontal)-->
  <div class="menu-modulos-container">
      <button attr.aria-label="Expediente"
        title="Expediente"
        class="menu-modulo-button active">
        <span class="material-symbols-outlined iconSize" id="icono-apps">
            content_paste 
        </span>
      </button>
      <button attr.aria-label="Expediente"
        title="Expediente"
        class="menu-modulo-button ">
        <span class="material-symbols-outlined iconSize" id="icono-apps">
            content_paste 
        </span>
      </button> 
      <button attr.aria-label="Expediente"
        title="Expediente"
        class="menu-modulo-button ">
        <span class="material-symbols-outlined iconSize" id="icono-apps">
            content_paste 
        </span>
      </button>      
  </div>

